* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#intro {
  background-color: #6dacbe;
  color: #e5f3f8;
  height: 4%;
  text-align: center;
  padding: 4px;
}

body {
  font: 20px;
  background-color: #e3f6f7;
}

form {
  background: #000000;
  padding: 3px;
  position: fixed;
  bottom: 5px;
  width: 100%;
}

form input {
  background-color: #d2e8f2;
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}

form button {
  width: 9%;
  background: #84c2cd;
  border: none;
  padding: 8px;
  font-size: 20px;
}

#messages {
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  margin: 10px;
  background: #cbefee;
  border-radius: 10px;
}

#messages li:nth-child(odd) {
  background: #a7d6da;
}

#list {
  text-align: right;
}
